@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Lato&family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Asap:wght@500&family=Bebas+Neue&family=Lato&family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Asap:wght@500&family=Bebas+Neue&family=Kanit:wght@200;300;400&family=Lato&family=Open+Sans:wght@300;400;500&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rubik:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Rubik:wght@400;500;600&display=swap');

$fontKanit: 'Kanit', sans-serif;
$fontAsap: 'Asap', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontDela: 'Dela Gothic One', sans-serif;
$fontRubik: 'Rubik', sans-serif;

$mainColor: #05d1f5;
$secondaryColor: #0d6efd;
$titulosColor: #3916d6;
